<footer class="footer">
      <div class="container">
        <p class="text-muted">Página de recetas con Ruby on Rails</p>
        <p class="text-muted">Eduardo López Martín</p>
      </div>
    </footer>
